In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/final_data.csv')

# Feature Engineering
df['Area_x_Bathrooms'] = df['Area'] * df['#Bathrooms']
df['Log_Area'] = np.log1p(df['Area'])
df['Log_Price'] = np.log1p(df['Price'])
if '#Bedrooms' in df.columns and (df['#Bedrooms'] > 0).all():
    df['Bathrooms_per_Bedroom'] = df['#Bathrooms'] / df['#Bedrooms']
else:
    df['Bathrooms_per_Bedroom'] = np.nan
df = df.drop(columns=['Area', '#Bathrooms', 'Price'], errors='ignore')

# Clean and convert categorical columns for PyCaret
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = df[col].str.replace(' ', '_')  # Replace spaces with underscores in values
    df[col] = df[col].astype('category')

In [3]:
from pycaret.regression import setup, compare_models

reg_setup = setup(
    data=df,
    target='Log_Price',
    session_id=123,
    feature_selection=True,
    pca=True,                # Enable PCA
    pca_components=0.95,     # Keep enough components to explain 95% variance
    normalize=True,          # Normalize the data
    verbose=False
)

best_model = compare_models()

In [4]:
from pycaret.regression import predict_model, tune_model, evaluate_model

# Fine-tune the best model
tuned_model = tune_model(best_model, optimize='R2')  
evaluate_model(tuned_model)

# Predict using PyCaret's pipeline
predictions = predict_model(best_model, data=df)
price_pred = np.expm1(predictions['prediction_label'])
result = df.reset_index(drop=True).copy()
result['Predicted Price'] = price_pred

# Display the first 10 rows with related info and formatted price
pd.options.display.float_format = '{:,.0f}'.format
print(result.head(10)[['Predicted Price'] + [col for col in ['Region', 'Type', '#Bedrooms', 'Area_x_Bathrooms', 'Log_Area','Bathrooms_per_Bedroom']]])

Fitting 10 folds for each of 10 candidates, totalling 100 fits

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

   Predicted Price  Region         Type  #Bedrooms  Area_x_Bathrooms  \
0        1,405,808  Ariana        Villa          4               900
1        2,150,010   Tunis        Villa          5             6,600
2          730,500  Nabeul        Villa          4               600
3          858,039   Tunis        Villa          5             1,000
4          246,875   Tunis  Appartement          1               400
5          336,198   Tunis  Appartement          3               400
6          714,272   Tunis        Villa          5             3,099
7          645,825   Tunis        Villa          4             1,236
8          863,230  Sousse        Villa          5             2,000
9          684,974  Sousse        Villa          4             4,444

   Log_Area  Bathrooms_per_Bedroom
0         6                      0
1         7                      1
2         6                      0
3         6                      0
4         6                      1
5         6                      0
6         7                      1
7         6                      1
8         7                      0
9         7                      1